.gitignore
manualOveride
auto
liveLogs
bestAlgos
tt
dev
db
dc
totalResults
exitResults
resultsTest
archives
.DS_Store
bin.or
src.or
.virtualenv
src/.DS_Store
src/*pyc
src/.creds
test
debug
dc.o
logs
prices
bc
profiles/active.json_*
profiles/et.json
profiles/oauthKeys.txt
profiles/*debug
profiles/*log
pyetrade/*pyc
venv/
__pycache__/
python_client.log
saved
tmp
s
historyBestAlgos
bestAlgos/*.gn
bestAlgos/*.all
dc/*.gp
analyzeResults
dbArchiveOrig
dbOrig
mvdBestAlgos
testOrig
totalResultsOrig
