.DS_Store
bin.or
src.or
.virtualenv
src/.DS_Store
src/*pyc
src/.creds
test
debug
logs
prices
bc
profiles/et.json
profiles/oauthKeys.txt
profiles/*debug
profiles/*log
pyetrade/*pyc
venv/
__pycache__/
python_client.log
saved
